@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2{
    font-family: Poppins, sans-serif;
}

p{
    font-family: Inter, sans-serif;
}

nav{
    position: sticky;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-family: Inter, sans-serif;
    transition: top 0.3s;
}

#menu-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#menu{
    display: flex;
    gap: 5vw;
    justify-content: space-around;
    align-items: center;
}

#menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: #007f00;
}

.hover-underline-footer{
    display: inline-block;
    position: relative;
    color: #fff;
}
  
.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #007f00;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}
  
.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-footer::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #007f00;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}
  
.hover-underline-footer:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu-contact{
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    padding: 1.5vh 10vh;
    position: relative;
}

#menu-contact:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

#menu-contact:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

#menu-contact:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#logo{
    width: 10vw;
}

#logo img{
    height: 10vh;
}

#home {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    padding-top: 20vh;
}

div#home-text h1{
    font-family: Poppins, sans-serif;
    font-size: 45px;
    color: rgba(10, 17, 22, 1);
}

div#home-text p{
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: rgba(10, 17, 22, 1);
}

div#home-text {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 20px;
}

div#home-video iframe {
    width: 40vw;
    height: 100%;
}

div#home-video{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 60%;
}

#problem-solution{
    background-color: #E2E9EE;
    height: 100vh;
}

#problem-solution p{
    font-family: Inter, sans-serif;
    width: 70%;
    margin: 0 auto;
    color: rgba(10, 17, 22, 1);
}

#problem-solution h2{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 45px;
    padding: 50px 0;
}

#demo-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#demo-buttons button{
    border: 0px solid #aab8c2;
    border-radius: 15px;
    background-color: #edfdf3;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    width: 20vw;
    height: 5vh;
}

#demo-buttons button.active{
    border: 0px solid #aab8c2;
    border-radius: 15px;
    background-color: #27ae60;
    color: #fff;
    transition: background-color 0.3s ease-out;
}

#demo-buttons button:hover{
    border: 0px solid #aab8c2;
    background-color: #edfdf3;
    color: #007f00;
}

#demo-buttons button.active:hover{
    border: 0px solid #aab8c2;
    background-color: #27ae60;
    color: #fff;
}

#problem-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.problem-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    width: 40%;
    gap: 20px;
}

.problem-image{
    width: 40%;
}

.problem-image img{
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#individual {
    display: flex;
    height: 100%;
    width: 100%;
}

#enterprise {
    display: none;
    height: 100%;
    width: 100%;
}

.demo-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 10rem 0;
}

.demo-text{
    width: 40%;
}

.demo-image{
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#solution-demo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#solution-demo h2{
    font-family: Poppins, sans-serif;
    font-size: 45px;
    padding: 30px 0;
}

#ps-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#contact {
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: red;
}

.confirmation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    text-align: center;
}

@keyframes slideInFromRight {
    0% {
        transform: translatex(100%);
        opacity: 0;
    }
    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

.slide-in {
    animation: 1s ease-in 0s 1 slideInFromRight;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: 1s fadeIn ease-in 1;
    visibility: visible;
}

section#form{
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #144935;
    gap: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

img#img-form{
    width: 24rem;
}

#tittle-form{
    display: flex;
    font-size: 1.7rem;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    text-align: center;
    color: aliceblue;
}

.forms {
    width: 38rem; 
    padding: 1.25rem; 
    background-color: #2F3033;
    border-radius: 30px; 
}
  
.form-group {
    margin-bottom: 1.25rem; 
}
  
.form-label {
    display: block;
    font-weight: bold;
    padding-bottom: 0.8rem;
    color: #fff;
    font-family:'FF Unit Slab Pro', sans-serif;
}
  
.form-input {
    width: 100%;
    padding: 0.9rem; 
    border: none;
    font-size: 1rem;
    font-family:'FF Unit Slab Pro', sans-serif;
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  
textarea.form-input {
    height: 6.25rem; 
}
  
.form-button {
    display: block;
    width: 100%;
    padding: 0.65rem; 
    background-color: #27AE60;
    color: #fff;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 1.3rem;
    transition: .9s;
}
  
.form-button:hover {
    box-shadow: inset 0 -100px 0 0 #1E8449;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#thankyou-message {
    position: fixed;
    font-family: Inter, sans-serif;
    font-size: 20px;
    top: 50%;
    left: 0;
    width: 30vw;
    padding: 20px;
    background-color: #f8f9fa;
    border: 0px solid #ced4da;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: none;
}

div#info-footer{
    display: flex;
    gap: 10rem;
}

div#links{
    display: flex;
    gap: 4rem;
    padding-right: 4rem;
}

div.list{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

div.list ul{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

div.list a, li{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    text-decoration: none;
}

.link{
    cursor: pointer;
}

footer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    background-color: #2F3033;
    padding: 5rem;
    width: 100%;
    display: flex;
}

footer img{
  width: 10vw;
}


footer a, li{
  font-family:'FF Unit Slab Pro', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  list-style: none;
}

.picture{
    width: 8vw;
}

table{
    font-family: Inter, sans-serif;
    color: #fff;
}

.social-media{
    height: 3rem;
    width: 3rem;
}

td{
    padding: 1rem;
}